{% extends "layout/license.html" %}
{% block body %}
<div class="row">
    <div class="col-lg-3 align-text-top">
        {% include "components/sidebar.html" %}
    </div>
    <div class="col-lg-6">
        {% include "components/posting.html" %}
        {% include "components/upload.html" %}
        {% include "components/jammers.html" %}
        {% include "components/activities.html" %}
        {% include "components/samples.html" %}
        {% include "components/my_samples.html" %}
    </div>
    <div class="col-lg-3"></div>
</div>
{% endblock %}