<div class="card">
    <div class="card-body">
        <h4>Password forgotten</h4>
        <h6>Enter your email address to reset your password.</h6>
        <hr>

        <form class="form-signin ajax" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" class="form-control" name="username" aria-describedby="emailHelp"
                       required
                       autofocus>
                <div id="emailHelp" class="form-text">We never share your email address with others.</div>
            </div>
            <button type="submit" class="btn btn-snapsnare">Reset</button>
        </form>
    </div>
</div>