flask_restful
flask-jwt-extended
flask-login
flask==1.1.2
click
psycopg2-binary
requests
paprika-connector @ git+https://github.com/janripke/paprika-connector.git@0.0.5
pydub
aubio
google-api-python-client
oauth2client