{% for snap in snaps %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col text-start">{{snap.first_name}} {{snap.last_name}}</div>

            <div class="col text-end">
                {% if (session.username and session.role==snap.role) %}
                <div class="dropdown">
                    <a class="btn bnt-small" href="#" role="button" id="dropdownPosting"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownPosting">
                        <li><a class="dropdown-item" href="/upload?section={{snap.section}}&uuid={{snap.uuid}}"><i
                                class="far fa-edit"></i> Edit sample</a></li>
                        <li><a class="dropdown-item"
                               href="/upload/delete?section={{snap.section}}&uuid={{snap.uuid}}"><i
                                class="fas fa-times"></i> Delete sample</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="w-100"></div>
        </div>
        <div class="row">
            <div class="col text-start">{{snap.title}} [{{snap.chord_schema}}]</div>
            <div class="w-100"></div>
        </div>
        <div class="row">
            <div class="col text-start">{{snap.role}} .
                {{snap.created_at_formatted}}
            </div>
            <div class="w-100"></div>
        </div>


        <div class="row">
            <div class="col text-start">
                <audio id="music-{{snap.uuid}}" controls>
                     <source src="{{snap.url}}" type="{{snap.type}}">
                </audio>
            </div>
            <div class="w-100"></div>
        </div>


    </div>
</div>
<p></p>
{% endfor %}