<ul class="bd-footer-links ps-0 mb-3">
    <li class="d-inline-block"><a class="snapsnare-link-green" href="https://github.com/janripke/snapsnare">GitHub</a></li>
    <li class="d-inline-block ms-3"><a class="snapsnare-link-green" href="https://www.facebook.com/groups/5066717870019163" target="_blank">Facebook</a></li>
    <li class="d-inline-block ms-3"><a class="snapsnare-link-green" href="https://chat.whatsapp.com/Ejkt11vs8fm19gkSy3Qs3m" target="_blank">WhatsApp</a></li>
    <li class="d-inline-block ms-3"><a class="snapsnare-link-green" href="/?section={{code.about}}">About us</a></li>
</ul>
<p class="mb-0">Designed and build by the <a class="snapsnare-link-green" href="/?section={{code.team}}">snapsnare team</a>.</p>
<p class="mb-0">{{code.name}} {{code.version}}, licence <a class="snapsnare-link-green"
        href="https://github.com/janripke/paprika-connector/blob/main/LICENSE" target="_blank" rel="license noopener">GPL-3.0</a>.
</p>

