<div class="card">
    <div class="card-body">
        <h4>Create post</h4>
        <h5 class="card-title">{{posting.first_name}} {{posting.last_name}}</h5>
        <hr>

        <form action="{{ url_for('posting.show')}}" id="posting-form" class="form-signin ajax" method="post"
              enctype="multipart/form-data">
            <div class="mb-3">
                <textarea class="form-control" id="content" name="content" rows="6">{{posting.content}}</textarea>
            </div>
            {% if not posting.rendering %}
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rendering_default" name="rendering"
                       value="background">
                <label class="form-check-label" for="rendering_default">Image as background</label>
            </div>
            {% endif %}
            {% if posting.rendering=="background" %}
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rendering_background" name="rendering" checked
                       value="background">
                <label class="form-check-label" for="rendering_background">Image as background</label>
            </div>
            {% endif %}
            <!--    <div class="mb-3 form-check">-->
            <!--        <input type="checkbox" class="form-check-input" id="example2" name="image_display_type" value="carousel">-->
            <!--        <label class="form-check-label" for="example2">Afbeelding als carousel</label>-->
            <!--    </div>-->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-start"><b>Add to your post</b></div>
                        <div class="col text-start">
                            <label for="file-input">
                                <i class="far fa-image fa-2x "></i>
                            </label>
                            <input id="file-input" type="file" name="file" multiple style="visibility:hidden;"/>
                        </div>
                        <div class="w-100"></div>
                    </div>
                </div>
            </div>
            <input id="uuid" type="hidden" name="uuid" class="form-control" value="{{posting.uuid}}">
            <input id="user" type="hidden" name="user" class="form-control" value="{{posting.user}}">
            <input id="section" type="hidden" name="section" class="form-control" value="{{posting.section}}">
            <p></p>
            <button type="submit" class="btn btn-snapsnare w-100">Post</button>
        </form>
    </div>
</div>