<div class="card">
    <div class="card-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link snapsnare-link-green" href="/sections">Secties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link snapsnare-link-green" href="/registrations">Registraties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link snapsnare-link-green" href="/instruments">Instrumenten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link snapsnare-link-green" href="/genres">Genres</a>
            </li>

        </ul>
    </div>
</div>
<p></p>