<div class="card">
    <div class="card-body">
        <h4>Profile</h4>
        <h6>Use this form to change the details of your account.</h6>
        <hr>

        <form action="{{ url_for('profile.show')}}?uuid={{user.uuid}}" id="profile-form" class="form-signin ajax"
              method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" class="form-control" name="username" aria-describedby="emailHelp"
                required readonly="readonly" value="{{ user.username }}">
                <div id="emailHelp" class="form-text">We never share your email address with others.</div>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <input id="role" type="text" class="form-control" name="role" required readonly="readonly"
                       value="{{user.role}}">
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">First name</label>
                <input id="firstName" type="text" class="form-control" name="first_name" required autofocus
                       value="{{user.first_name}}">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last name</label>
                <input id="lastName" type="text" class="form-control" name="last_name" required
                       value="{{user.last_name}}">
            </div>
            <div class="mb-3">
                <label for="nickName" class="form-label">Nickname</label>
                <input id="nickName" type="text" class="form-control" name="nickname"
                       value="{{user.nickname}}">
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone number</label>
                <input id="phoneNumber" type="text" class="form-control" name="phone_number"
                   value="{{user.phone_number}}">
                <div id="phoneNumberHelp" class="form-text">We never share your phone number with others.</div>
            </div>

            <input id="uuid" type="hidden" name="uuid" class="form-control" value="{{user.uuid}}">
            <button type="submit" class="btn btn-snapsnare">Save</button>
        </form>
    </div>
</div>