 <div class="card">
        <div class="card-header" style="background-image:url('/static/jamulus.png'); background-repeat: no-repeat; background-position: right; background-size: 60px;">
        <div class="row">
            <div class="col text-start"><h6>Live op Snapsnare Jamulus </h6></div>
            <div class="w-100"></div>
        </div>
        <div class="col">
            <h6 class="card-subtitle mb-2 text-muted">{{jammers.created_at_formatted}}</h6>
        </div>
    </div>
    <div class="card-body">
      {{jammers.jammers}}
      {% if icecast_status.source.stream_start %}
      <hr>
      <a href="{{icecast_status.source.server_url}}" target="_blank"><img class="png" height="90" src="static/live-stream.png"/></a>
      {% endif %}
    </div>
  </div>
  <p></p>

