<div class="card">
    <div class="card-body">
        <h4>Sign in</h4>
        <!-- <h6>Vul hieronder je gebruikersnaam en wachtwoord in</h6> -->
        <hr>

        <form class="form-signin ajax" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" class="form-control" name="username" aria-describedby="emailHelp"
                       required
                       autofocus>
                <div id="emailHelp" class="form-text">We will never share your email address with others.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-snapsnare">Sign in</button>
        </form>
    </div>
</div>