<div class="card">
    <div class="card-body">
        <h4>Login</h4>
        <h6>Enter your email address and password to sign in.</h6>
        <hr>

        <form class="form-signin ajax" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" class="form-control" name="username" aria-describedby="emailHelp"
                       required
                       autofocus>
                <div id="emailHelp" class="form-text">We never share your email address with others.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <a class="snapsnare-link-green" href="/password_forgotten">Password forgotten</a>
            </div>
            <button type="submit" class="btn btn-snapsnare">Next</button>
        </form>
    </div>
</div>