<div class="card">
    <div class="card-body">
        <h4>Register</h4>
        <h6>Fill in the registration form to get access to this wonderful website.</h6>
        <hr>

        <form class="form-signin ajax" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" class="form-control" name="username" aria-describedby="emailHelp"
                       required
                       autofocus>
                <div id="emailHelp" class="form-text">We will never share your email address with others.</div>
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">First name</label>
                <input id="firstName" type="text" class="form-control" name="first_name" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last name</label>
                <input id="lastName" type="text" class="form-control" name="last_name" required>
            </div>
            <div class="mb-3">
                <label for="nickName" class="form-label">Nickname</label>
                <input id="nickName" type="text" class="form-control" name="nickname">
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone number</label>
                <input id="phoneNumber" type="text" class="form-control" name="phone_number">
                <div id="phoneNumberHelp" class="form-text">Your phone number will never be shared with others either!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-snapsnare">Register</button>
        </form>
    </div>
</div>
