<div class="card">
    <div class="card-body">
        <h4>Registeren</h4>
        <h6>Vul de onderstaande registratie details in om toegang te krijgen.</h6>
        <hr>

        <form class="form-signin ajax" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" class="form-control" name="username" aria-describedby="emailHelp"
                       required
                       autofocus>
                <div id="emailHelp" class="form-text">We delen je email adres nooit met anderen.</div>
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">Voornaam</label>
                <input id="firstName" type="text" class="form-control" name="first_name" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Achternaam</label>
                <input id="lastName" type="text" class="form-control" name="last_name" required>
            </div>
            <div class="mb-3">
                <label for="nickName" class="form-label">Bijnaam</label>
                <input id="nickName" type="text" class="form-control" name="nickname">
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Telefoonnummer</label>
                <input id="phoneNumber" type="text" class="form-control" name="phone_number">
                <div id="phoneNumberHelp" class="form-text">Ook je telefoonnumer wordt nooit met anderen gedeeld</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-snapsnare">Registreer</button>
        </form>
    </div>
</div>
