{% if "my_samples" in section.components %}
{% for snap in my_snaps %}
<div class="card" id="{{snap.uuid}}">
    <div class="card-header">
        <div class="row">
            <div class="col text-start">{{snap.first_name}} {{snap.last_name}}</div>

            <div class="col text-end">
                {% if (session.username and session.role==snap.role) %}
                <div class="dropdown">
                    <a class="btn btn-snapsnare" href="#" role="button" id="dropdownPosting"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownPosting">
                        <li><a class="dropdown-item" href="/upload?section={{snap.section}}&uuid={{snap.uuid}}"><i
                                class="far fa-edit"></i> Edit sample</a></li>
                        <li><a class="dropdown-item"
                               href="/upload/delete?section={{snap.section}}&uuid={{snap.uuid}}"><i
                                class="fas fa-times"></i> Delete sample</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="w-100"></div>
        </div>
        <div class="row">
            <div class="col text-start"><b>{{snap.title}}</b>
            {% if snap.access=="public" %}
                <i class="fas fa-share-alt"></i>
            {% endif %}
            </div>
            <div class="w-100"></div>
        </div>
        {% if snap.chord_schema %}
        <div class="row">
            <div class="col text-start"><i class="fas fa-music "></i><i> {{snap.chord_schema}}</i></div>
            <div class="w-100"></div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col text-start">

                <span class="badge btn-snapsnare">{{snap.instrument}}</span>
                <span class="badge bg-secondary">{{snap.genre}}</span>
            </div>
            <div class="w-100"></div>
        </div>


        <div class="row">
            <div class="col text-start">
                <audio onplaying="audio.playing()" id="music-{{snap.uuid}}" loop>
                     <source src="{{snap.url}}" type="{{snap.type}}">
                </audio>
            </div>
            <div class="w-100"></div>
        </div>
        <div class="row">
            <div class="col text-start">
                <hr>
                <button onclick="audio.play('music-{{snap.uuid}}')" class="btn"><i class="fas fa-play"></i></button>
                <button onclick="audio.pause('music-{{snap.uuid}}')" class="btn"><i class="fas fa-pause"></i></button>
                <button onclick="audio.stop('music-{{snap.uuid}}')" class="btn"><i class="fas fa-stop"></i></button>
                <a href="{{snap.url}}" class="btn" download=""><i class="fas fa-arrow-down"></i></a>
            </div>
            <div class="w-100"></div>
        </div>


    </div>
</div>
<p></p>
{% endfor %}
{% endif %}