<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">application.name</th>
                    <td class="font-monospace"><small>{{code.name}}</small></td>
                </tr>
                <tr>
                    <th scope="row">application.version</th>
                    <td class="font-monospace"><small>{{code.version}}</small></td>
                </tr>
                <tr>
                    <th scope="row">application.environment</th>
                    <td class="font-monospace"><small>{{code.environment}}</small></td>
                </tr>
                <tr>
                    <th scope="row">backend.version</th>
                    <td class="font-monospace"><small>{{code.backend.version}}</small></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>